body{
  background-color: black;
  background-image: url(/Users/administrator/Documents/html/img/marble.jpg);
}
h1{
  font-family: fantasy;
  font-size: 40px
}
#main{
  width: 90%;
  margin: 50px auto;
  border: 10px grey;
}
#top, #bottom, #left, #right {
	background: grey;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
